In [2]:
from common import *

In [3]:
from itertools import chain

def fast_flatten(input_list):
    return list(chain.from_iterable(input_list))

def fast_concat(frames):
    COLUMN_NAMES = frames[0].columns
    df_dict = dict.fromkeys(COLUMN_NAMES, [])
    for col in COLUMN_NAMES:
        # Use a generator to save memory
        extracted = (frame[col] for frame in frames)

        # Flatten and save to df_dict
        df_dict[col] = fast_flatten(extracted)
    return(pd.DataFrame.from_dict(df_dict)[COLUMN_NAMES])

In [12]:
np.random.permutation(np.arange(100))

array([48, 30, 96,  1, 59, 45, 13, 91, 76, 89, 73,  2,  7, 14, 86, 68, 67,
       39, 38, 64,  5, 70, 53, 72, 12, 99, 74,  0, 29, 24, 21, 62, 65, 57,
       61, 82, 18, 97, 60, 58, 87, 51, 22, 32, 41, 35, 71, 63, 33, 31,  4,
       56, 90, 85, 37, 20, 69, 47, 55, 16, 54, 77, 50, 10,  6, 34, 80, 52,
       79, 15, 98, 17,  8, 88, 25, 46, 95, 23, 43, 49, 94, 42, 83, 92, 28,
       66, 40, 93,  9, 44, 36, 27, 81, 84,  3, 78, 11, 19, 75, 26])

In [13]:
dfs = [pd.DataFrame(np.random.random((1000,100)),
                    index=1000*i+np.arange(1000),
                    columns=['A'+str(x) for x in np.random.permutation(np.arange(100))])
       for i in range(500)]

In [16]:
%%time
guy = pd.concat(dfs, axis=0, sort=True)

CPU times: user 365 ms, sys: 141 ms, total: 506 ms
Wall time: 505 ms

In [17]:
%%time
guy = fast_concat(dfs)

CPU times: user 13.4 s, sys: 1.51 s, total: 14.9 s
Wall time: 14.2 s

In [4]:
test = pd.read_pickle('data/given/test.pkl')

In [62]:
test[0][0].head()

,open,volume,returnsOpenPrevMktres1,time,close,assetName,returnsClosePrevRaw1,returnsClosePrevMktres1,returnsClosePrevMktres10,returnsOpenPrevRaw1,returnsOpenPrevRaw10,returnsClosePrevRaw10,returnsOpenPrevMktres10,assetCode
0,45.93,1739726.0,0.003744,2017-01-03 22:00:00+00:00,46.49,Agilent Technologies Inc,0.020413,0.009812,0.015757,0.003715,-0.011736,0.015565,0.001985,A.N
1,28.60,2746634.0,-0.012756,2017-01-03 22:00:00+00:00,28.83,Alcoa Corp,0.026709,0.015256,NaN,-0.012772,-0.035413,-0.019388,NaN,AA.N
2,47.28,6737752.0,-0.002917,2017-01-03 22:00:00+00:00,46.30,American Airlines Group Inc,-0.008353,-0.026595,-0.027729,-0.002952,-0.027361,-0.027924,-0.015277,AAL.O
3,32.40,760498.0,0.010329,2017-01-03 22:00:00+00:00,31.90,Aaron's Inc,-0.002813,-0.020835,-0.026324,0.010290,-0.021739,-0.026846,0.011201,AAN.N
4,170.78,691526.0,-0.003128,2017-01-03 22:00:00+00:00,170.60,Advance Auto Parts Inc,0.008751,-0.001344,-0.007198,-0.003152,-0.014546,-0.007281,-0.010078,AAP.N

In [63]:
test[0][1].head()

,time,sourceTimestamp,firstCreated,sourceId,headline,urgency,takeSequence,provider,subjects,audiences,bodySize,companyCount,headlineTag,marketCommentary,sentenceCount,wordCount,assetCodes,assetName,firstMentionSentence,relevance,sentimentClass,sentimentNegative,sentimentNeutral,sentimentPositive,sentimentWordCount,noveltyCount12H,noveltyCount24H,noveltyCount3D,noveltyCount5D,noveltyCount7D,volumeCounts12H,volumeCounts24H,volumeCounts3D,volumeCounts5D,volumeCounts7D
0,2016-12-30 22:00:02+00:00,2016-12-30 22:00:02+00:00,2016-12-30 22:00:02+00:00,02ae05e4a5650826,Enstar Announces Acquisition of Dana Companies...,3,1,GNW,"{'MRG', 'MINS', 'NEWR', 'INSR', 'BACT', 'BM', ...","{'CNR', 'GNWN'}",3742,1,,False,19,575,"{'ESGR.OQ', 'ESGR.O'}",Enstar Group Ltd,1,1.0,1,0.222786,0.382740,0.394474,555,0,0,0,0,0,0,0,0,0,0
1,2016-12-30 22:00:02+00:00,2016-12-30 22:00:02+00:00,2016-12-30 22:00:02+00:00,8a59a41e3dc3f255,ENSTAR ANNOUNCES ACQUISITION OF DANA COMPANIES,1,1,RTRS,"{'BLR', 'MINS', 'INSR', 'FINS', 'US', 'CMPNY',...","{'E', 'U'}",0,1,,False,1,7,"{'ESGR.OQ', 'ESGR.O'}",Enstar Group Ltd,1,1.0,0,0.172375,0.611033,0.216592,7,0,0,0,0,0,0,0,0,0,0
2,2016-12-30 22:00:06+00:00,2016-12-30 22:00:06+00:00,2016-12-30 22:00:02+00:00,c8ee6bcb3de3a944,ENSTAR ANNOUNCES ACQUISITION OF DANA COMPANIES,1,2,RTRS,"{'BLR', 'AUTO', 'MINS', 'CYCS', 'INSR', 'FINS'...","{'E', 'U'}",0,2,,False,1,7,{'DAN.N'},Dana Inc,1,1.0,0,0.172375,0.611033,0.216592,7,0,0,0,0,0,0,0,0,0,0
3,2016-12-30 22:00:06+00:00,2016-12-30 22:00:06+00:00,2016-12-30 22:00:02+00:00,c8ee6bcb3de3a944,ENSTAR ANNOUNCES ACQUISITION OF DANA COMPANIES,1,2,RTRS,"{'BLR', 'AUTO', 'MINS', 'CYCS', 'INSR', 'FINS'...","{'E', 'U'}",0,2,,False,1,7,"{'ESGR.OQ', 'ESGR.O'}",Enstar Group Ltd,1,1.0,0,0.172375,0.611033,0.216592,7,2,2,2,2,2,2,2,2,2,2
4,2016-12-30 22:00:17+00:00,2016-12-30 22:00:17+00:00,2016-12-30 21:33:44+00:00,58ea9d8a0be61c03,BRIEF-Axovant Sciences files for mixed shelf o...,3,1,RTRS,"{'BLR', 'SISU', 'INDU', 'DBT', 'HECA', 'PHMR',...","{'PCO', 'PCU', 'DNP', 'PSC', 'U', 'RNP', 'NAW'...",239,1,BRIEF,False,4,65,{'AXON.N'},Axovant Sciences Ltd,1,1.0,0,0.307338,0.378957,0.313705,58,1,1,1,1,1,1,1,1,1,1

In [64]:
test[0][2].head()

  assetCode  confidenceValue
0       A.N              0.0
1      AA.N              0.0
2     AAL.O              0.0
3     AAN.N              0.0
4     AAP.N              0.0

In [5]:
from given import *

In [38]:
sum(M.time==pd.Timestamp('2009-01-05 22:00:00').tz_localize('UTC'))

1590

In [26]:
@njit
def corr_window_at_index(a, cols, labels, index, window, min_periods):
    '''Parameters - a: 2D np.ndarray, we are taking corr at row index `index`, going back `window` rows
                    cols: tuple of (cols[0],cols[1]) where cols[0/1] is the list of column `labels` of which to take corr of
                    labels: the "names" of the 0-n column dimensions, that `cols` references
                    index: row index which is the last row in the correlation window
                    window: int, size of window
    Return 2-tuple of np.ndarrays of shape (len(cols[0]),) containing
        [0] correlation for every pair of columns in same order as `cols`
        [1] common in universe count for the same pair'''
    
    if index < 0:
        index += len(a)
    assert index - window >= 0
    
    corr = np.ndarray([len(cols[0])], dtype=np.float32)
    unic = np.ndarray([len(cols[0])], dtype=np.float32)
    
    for k in range(len(cols[0])):
        j0, j1 = binary_search(labels, cols[0][k]), binary_search(labels, cols[1][k])
        x0, x1 = a[index-window:index+1, j0], a[index-window:index+1, j1]
        notnan = ~(np.isnan(x0)|np.isnan(x1))
        
        sum_notnan = sum(notnan)
        if sum_notnan < min_periods:
            corr[k] = np.nan
            unic[k] = sum_notnan
            continue
        else:
            x0, x1 = x0[notnan], x1[notnan]
            guy = np.corrcoef(np.stack([x0, x1], axis=1), rowvar=False)
            assert guy.shape==(2,2)
            corr[k] = guy[0,1]
            unic[k] = sum_notnan
    
    return corr, unic


@njit
def roll_corr_windows_at_indices(a, cols, labels, indices, window, min_periods):
    '''Parameters - a: 2D np.ndarray, we are taking corr at row index `index`, going back `window` rows
                    cols: tuple of (cols[0],cols[1]) where cols[0/1] is the list of column `labels` of which to take corr of
                    labels: the "names" of the 0-n column dimensions, that `cols` references
                    indices: (same shape as `cols`) of row indices, an entry being the last row in the correlation window
                    window: int, size of window
    Return 2-tuple of np.ndarrays of shape (len(cols[0]),) containing
        [0] correlation for every pair of columns in same order as `cols`
        [1] common in universe count in the window for the same pair'''
        
    corr = np.ndarray([len(cols[0])], dtype=np.float32)
    unic = np.ndarray([len(cols[0])], dtype=np.float32)
    
    for k in range(len(cols[0])):
        index = indices[k]
        
        if index < 0:
            index += len(a)
        assert index - window >= 0
        
        j0, j1 = binary_search(labels, cols[0][k]), binary_search(labels, cols[1][k])
        x0, x1 = a[index-window:index+1, j0], a[index-window:index+1, j1]
        notnan = ~(np.isnan(x0)|np.isnan(x1))
        
        sum_notnan = sum(notnan)
        if sum_notnan < min_periods:
            corr[k] = np.nan
            unic[k] = sum_notnan
            continue
        else:
            x0, x1 = x0[notnan], x1[notnan]
            guy = np.corrcoef(np.stack([x0, x1], axis=1), rowvar=False)
            assert guy.shape==(2,2)
            corr[k] = guy[0,1]
            unic[k] = sum_notnan
    
    return corr, unic

In [27]:
def make_CC_G_Q(pairs, *, F, P, W, roll_corr=list(product(['aoo1','aoo10'],[21,250]))):
    single = P.time.nunique()==1
    if single:
        I0, I1 = pd.DataFrame(pairs[0],columns=['assetCodeId']), pd.DataFrame(pairs[1],columns=['assetCodeId'])
        G0, G1 = I0.merge(F, on='assetCodeId', how='inner'), I1.merge(F, on='assetCodeId', how='inner')
        Q0, Q1 = I0.merge(P, on='assetCodeId', how='inner'), I1.merge(P, on='assetCodeId', how='inner')
        # corr_window_at_index(a, cols, labels, index, window, min_periods=10)
        def iter_corr():
            for c, h in roll_corr:
                index = binary_search(W[c].index.values, P.time.values[-1])
                yield corr_window_at_index(W[c].values, pairs, W[c].columns.values, index, h, min_periods=10)
        CC = pd.concat(flatten(iter_corr()), axis=1)
        #TODO inside CC, bothInUniCount i.e. unic and weight #DONE actually forget weight we will only use flat weight
    else:
        times = P.time.unique()
        x_times = set(times)
        I0 = pd.DataFrame(product(times,pairs[0]), columns=['time','assetCodeId'])
        I1 = pd.DataFrame(product(times,pairs[1]), columns=['time','assetCodeId'])
        F['time'] = P.time
        G0, G1 = I0.merge(F,on=['time','assetCodeId'],how='inner']), I1.merge(F,on=['time','assetCodeId'],how='inner'])
        del F['time']
        Q0, Q1 = I0.merge(P,on=['time','assetCodeId'],how='inner']), I1.merge(P,on=['time','assetCodeId'],how='inner'])
        #TODO
        def iter_corr():
            for c, h in roll_corr:
                indices = pd.Series(W[c].index.values).pipe(lambda x: x[x.isin(x_times)]).index
                yield corr_window_at_indices(W[c].values, pairs, W[c].columns.values, indices, h, min_periods=10)
        CC = pd.concat(flatten(iter_corr()), axis=1)
    
    G0.reset_index(inplace=True, drop=True); G1.reset_index(inplace=True, drop=True);
    Q0.reset_index(inplace=True); Q1.reset_index(inplace=True);
    return (
        pd.DataFrame(CC,columns=flatten([f'__corr__{y}_{r}',f'__unic__{y}_{r}'] for y,r in roll_corr)),
        (G0.reset_index(), G1.reset_index()),
        (Q0, Q1)
    )

SyntaxError: invalid syntax (<ipython-input-27-5d9a51724e2b>, line 20)

In [28]:
binary_search(M.time.values, M.time.values[2352665])

2351035

In [59]:
pd.MultiIndex.from_product([pd.Index([5,6,0]), pd.Index([2,0,1])])

MultiIndex(levels=[[0, 5, 6], [0, 1, 2]],
           labels=[[1, 1, 1, 2, 2, 2, 0, 0, 0], [2, 0, 1, 2, 0, 1, 2, 0, 1]])

#### testing

In [46]:
np.corrcoef(np.asarray([3.,9.,0.]), np.asarray([2.,8.,5.]))[0,1]

0.6546536707079772

In [6]:
@njit
def hi(guy, what=5):
    return (guy[0].shape,guy[1].shape,(what,))
hi((np.asarray([3,4]),np.asarray([2,9])))

((2,), (2,), (5,))